<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Lista de {{ Title }}" blockClass="pc-component">
      <div class="row">
        <div class="col text-end">
          <button (click)="nuevo()" class="btn btn-primary mr-1">Nuevo</button>
          <button (click)="loadData()" class="btn btn-success">Refrescar</button>
        </div>
      </div>

      <div class="row mt-1">
        <div class="col text-end">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th class="text-start">ID</th>
                <th class="text-start">Descripcion</th>
                <th class="text-start">Tipo</th>
                <th class="text-center">Accion</th>
              </tr>
            </thead>
            <tbody>
              @for (item of lstUMedida; track $index) {
                <tr>
                  <td width="10%" class="text-start">{{ item.idUnidad_Medida }}</td>
                  <td class="text-start">{{ item.Detalle }}</td>
                  <td class="text-start">
                    @if(item.Tipo == 0){
                        <span>Presentacion</span>
                    } @else if(item.Tipo==1){
                        <span>Unidad de Medida</span>
                    } @else if(item.Tipo==2){
                        <span>Factor de Conversion</span>
                    }
                  </td>
                  <td width="20%" class="text-center">
                    <button (click)="editar(item.idUnidad_Medida)" class="btn btn-primary mr-1">Editar</button>
                    <button (click)="eliminar(item.idUnidad_Medida)" class="btn btn-danger">Eliminar</button>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </app-card>
  </div>
</div>
