<div class="card my-5">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-end mb-4">
      <h3 class="mb-0">
        <b>{{ Title }}</b>
      </h3>
    </div>
    <form [formGroup]="frmForm" (ngSubmit)="guardar()">
      <div class="form-group mb-3">
        <label class="form-label" for="Cedula">Cedula *</label>
        <input type="text" class="form-control" id="Cedula" formControlName="Cedula" placeholder="Cedula" />
        @if (frmForm.get('Cedula').invalid && frmForm.get('Cedula').touched) {
          @if (frmForm.get('Cedula').hasError('required')) {
            <div class="text-danger">La cedula es requerida</div>
          }
          @if (frmForm.get('Cedula').hasError('cedulaInvalida')) {
            <div class="text-danger">La cedula ingresada no es correcta</div>
          }
        }
      </div>
      <div class="form-group mb-3">
        <label class="form-label" for="Nombres">Nombres Completos *</label>
        <input type="text" class="form-control" id="Nombres" formControlName="Nombres" placeholder="Nombres" />
        @if (frmForm.get('Nombres').invalid && frmForm.get('Nombres').touched) {
          @if (frmForm.get('Nombres').hasError('required')) {
            <div class="text-danger">El nombre es requerido</div>
          }
        }
      </div>
      <div class="form-group mb-3">
        <label class="form-label" for="Direccion">Direccion *</label>
        <input type="text" class="form-control" id="Direccion" formControlName="Direccion" placeholder="Direccion" />
        @if (frmForm.get('Direccion').invalid && frmForm.get('Direccion').touched) {
          @if (frmForm.get('Direccion').hasError('required')) {
            <div class="text-danger">La Direccion es requerida</div>
          }
        }
      </div>
      <div class="form-group mb-3">
        <label class="form-label" for="Telefono">Telefono *</label>
        <input type="text" class="form-control" id="Telefono" formControlName="Telefono" placeholder="Telefono" />
        @if (frmForm.get('Telefono').invalid && frmForm.get('Telefono').touched) {
          @if (frmForm.get('Telefono').hasError('required')) {
            <div class="text-danger">El Telefono es requerido</div>
          }
        }
      </div>
      <div class="form-group mb-3">
        <label class="form-label" for="Correo">Correo *</label>
        <input type="text" class="form-control" id="Correo" formControlName="Correo" placeholder="Correo" />
        @if (frmForm.get('Correo').invalid && frmForm.get('Correo').touched) {
          @if (frmForm.get('Correo').hasError('required')) {
            <div class="text-danger">El Correo es requerido</div>
          }
          @if (frmForm.get('Correo').hasError('email')) {
            <div class="text-danger">El Correo es requerido</div>
          }
        }
      </div>
      <div class="form-group mb-3">
        <!-- <button type="submit" class="btn btn-primary" [disabled]="frmForm.invalid">Grabar</button> -->
        <button type="submit" class="btn btn-primary mr-1" [disabled]="frmForm.invalid">Grabar</button>
        <button (click)="cancelar()" class="btn btn-danger">Cancelar</button>
      </div>
    </form>
  </div>
</div>
