<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="{{ Title }}" blockClass="pc-component">
      <form [formGroup]="frmForm" (ngSubmit)="guardar()">
        <div class="form-group mb-3">
          <label class="form-label" for="Detalle">Descripción *</label>
          <input type="text" class="form-control" id="Detalle" formControlName="Detalle" placeholder="Detalle" />
          @if (frmForm.get('Detalle').invalid && frmForm.get('Detalle').touched) {
            @if (frmForm.get('Detalle').hasError('required')) {
              <div class="text-danger">El Detalle es requerida</div>
            }
          }
        </div>

        <div class="form-group mb-3">
          <label class="form-label" for="Tipo">Tipo *</label>
          <select id="Tipo" class="form-control" formControlName="Tipo">
            @for (item of lstTipo; track $index) {
              <option value="{{ item.idtipo }}">{{ item.nombre }}</option>
            }
          </select>

          @if (frmForm.get('Tipo').invalid && frmForm.get('Tipo').touched) {
            @if (frmForm.get('Tipo').hasError('required')) {
              <div class="text-danger">El Tipo es requerido</div>
            }
          }
        </div>

        <div class="form-group mb-3">
          <!-- <button type="submit" class="btn btn-primary" [disabled]="frmForm.invalid">Grabar</button> -->
          <button type="submit" class="btn btn-primary mr-1" [disabled]="frmForm.invalid">Grabar</button>
          <button (click)="cancelar()" class="btn btn-danger">Cancelar</button>
        </div>
      </form>
    </app-card>
  </div>
</div>
