<div class="row">
    <div class="col-sm-12">
      <app-card cardTitle="Lista de {{Title}}" blockClass="pc-component">

        <div class="row">
            <div class="col text-end">
                <button  (click)="nuevo()" class="btn btn-primary mr-1">Nuevo</button>
                <button  (click)="loadData()" class="btn btn-success">Refrescar</button>
            </div>
        </div>
        
        <div class="row mt-1">
            <div class="col text-end">
                <table class="table table-hover table-striped">
                    <thead>
                      <tr>
                        <th class="text-start">ID</th>
                        <th class="text-start">Cedula</th>
                        <th class="text-start">Nombres</th>
                        <th class="text-start">Direccion</th>
                        <th class="text-start">Correo</th>
                        <th class="text-center">Accion</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (item of lstClientes; track $index) {
                        <tr>
                          <td width="10%" class="text-start">{{item.idClientes}}</td>
                          <td class="text-start">{{item.Cedula}}</td>
                          <td class="text-start">{{item.Nombres}}</td>
                          <td class="text-start">{{item.Direccion}}</td>
                          <td class="text-start">{{item.Correo}}</td>
                          <td width="20%" class="text-center">
                            <button (click)="editar(item.idClientes)" class="btn btn-primary mr-1">Editar</button>
                            <button (click)="eliminar(item.idClientes)" class="btn btn-danger">Eliminar</button>
                          </td>
                        </tr>
                      }
                    </tbody>
                  </table>
            </div>
        </div>
      </app-card>
    </div>
  </div>
  