<div class="row">
    <div class="col-sm-12">
      <app-card cardTitle="Lista de {{Title}}" blockClass="pc-component">

        <div class="row">
            <div class="col text-end">
                <button  (click)="nuevo()" class="btn btn-primary mr-1">Nuevo</button>
                <button  (click)="loadData()" class="btn btn-success">Refrescar</button>
            </div>
        </div>
        
        <div class="row mt-1">
            <div class="col text-end">
                <table class="table table-hover table-striped">
                    <thead>
                      <tr>
                        <th class="text-start">ID</th>
                        <th class="text-start">Fecha</th>
                        <th class="text-start">Numero Documento</th>
                        <th class="text-start">Cliente</th>
                        <th class="text-end">Subtotal</th>
                        <th class="text-end">IVA</th>
                        <th class="text-end">TOTAL</th>
                        <th class="text-center">Accion</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (item of lstFactura; track $index) {
                        <tr>
                          <td width="10%" class="text-start">{{item.idFactura}}</td>
                          <td class="text-start">{{item.Fecha}}</td>
                          <td class="text-start">{{item.NumeroDoc}}</td>
                          <td class="text-start">{{item.Nombres}}</td>
                          <td class="text-end">{{item.SubTotal | currency}}</td>
                          <td class="text-end">{{item.Valor_IVA | currency}}</td>
                          <td class="text-end">{{item.Total | currency}}</td>
                          <td width="20%" class="text-center">
                            <button (click)="editar(item.idFactura)" class="btn btn-primary mr-1"><i class="far fa-edit"></i></button>
                            <button (click)="eliminar(item.idFactura)" class="btn btn-danger mr-1"><i class="far fa-trash-alt"></i></button>
                            <!-- <button (click)="print(item.idFactura)" class="btn btn-secondary"><i class="fas fa-print"></i></button> -->
                          </td>
                        </tr>
                      }
                    </tbody>
                  </table>
            </div>
        </div>
      </app-card>
    </div>
  </div>
  